* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 960 540" width="960" height="540" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><rect x="0" y="0" width="960" height="540" fill="%23eeeeee"></rect><defs><linearGradient id="grad1_0" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%233c81fa" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%233c81fa" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_1" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%233c81fa" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23668ff9" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_2" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23849ef8" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23668ff9" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_3" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23849ef8" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%239dadf6" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_4" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23b3bdf4" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%239dadf6" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_5" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23b3bdf4" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23c8cdf3" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_6" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23dbddf0" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23c8cdf3" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad1_7" x1="43.8%" y1="0%" x2="100%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23dbddf0" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23eeeeee" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_0" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%233c81fa" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%233c81fa" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_1" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23668ff9" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%233c81fa" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_2" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23668ff9" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23849ef8" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_3" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%239dadf6" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23849ef8" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_4" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%239dadf6" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23b3bdf4" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_5" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23c8cdf3" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23b3bdf4" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_6" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23c8cdf3" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23dbddf0" stop-opacity="1"></stop></linearGradient></defs><defs><linearGradient id="grad2_7" x1="0%" y1="0%" x2="56.3%" y2="100%"><stop offset="14.444444444444446%" stop-color="%23eeeeee" stop-opacity="1"></stop><stop offset="85.55555555555554%" stop-color="%23dbddf0" stop-opacity="1"></stop></linearGradient></defs><g transform="translate(960, 0)"><path d="M0 486C-68.7 484.6 -137.3 483.2 -186 449C-234.6 414.8 -263.3 347.8 -297.7 297.7C-332.1 247.6 -372.3 214.4 -404.7 167.6C-437 120.8 -461.5 60.4 -486 0L0 0Z" fill="%23e5e6ef"></path><path d="M0 425.3C-60.1 424 -120.2 422.8 -162.7 392.9C-205.3 363 -230.4 304.3 -260.5 260.5C-290.6 216.6 -325.8 187.6 -354.1 146.7C-382.4 105.7 -403.8 52.9 -425.2 0L0 0Z" fill="%23d1d5f2"></path><path d="M0 364.5C-51.5 363.5 -103 362.4 -139.5 336.8C-176 311.1 -197.5 260.8 -223.3 223.3C-249.1 185.7 -279.2 160.8 -303.5 125.7C-327.8 90.6 -346.1 45.3 -364.5 0L0 0Z" fill="%23bdc5f4"></path><path d="M0 303.8C-42.9 302.9 -85.8 302 -116.2 280.6C-146.6 259.3 -164.5 217.4 -186.1 186.1C-207.6 154.7 -232.7 134 -252.9 104.8C-273.1 75.5 -288.4 37.8 -303.7 0L0 0Z" fill="%23a8b5f5"></path><path d="M0 243C-34.3 242.3 -68.7 241.6 -93 224.5C-117.3 207.4 -131.6 173.9 -148.8 148.8C-166.1 123.8 -186.2 107.2 -202.3 83.8C-218.5 60.4 -230.8 30.2 -243 0L0 0Z" fill="%2390a6f7"></path><path d="M0 182.3C-25.7 181.7 -51.5 181.2 -69.7 168.4C-88 155.6 -98.7 130.4 -111.6 111.6C-124.5 92.8 -139.6 80.4 -151.7 62.9C-163.9 45.3 -173.1 22.7 -182.2 0L0 0Z" fill="%237697f8"></path><path d="M0 121.5C-17.2 121.2 -34.3 120.8 -46.5 112.3C-58.7 103.7 -65.8 86.9 -74.4 74.4C-83 61.9 -93.1 53.6 -101.2 41.9C-109.3 30.2 -115.4 15.1 -121.5 0L0 0Z" fill="%235488f9"></path><path d="M0 60.8C-8.6 60.6 -17.2 60.4 -23.2 56.1C-29.3 51.9 -32.9 43.5 -37.2 37.2C-41.5 30.9 -46.5 26.8 -50.6 21C-54.6 15.1 -57.7 7.6 -60.7 0L0 0Z" fill="%233c81fa"></path></g><g transform="translate(0, 540)"><path d="M0 -486C56.8 -464 113.6 -441.9 174.9 -422.2C236.1 -402.5 301.8 -385.1 343.7 -343.7C385.5 -302.2 403.4 -236.6 423.1 -175.3C442.9 -114 464.4 -57 486 0L0 0Z" fill="%23e5e6ef"></path><path d="M0 -425.2C49.7 -406 99.4 -386.7 153 -369.4C206.6 -352.2 264.1 -337 300.7 -300.7C337.3 -264.4 353 -207 370.2 -153.4C387.5 -99.7 406.4 -49.9 425.3 0L0 0Z" fill="%23d1d5f2"></path><path d="M0 -364.5C42.6 -348 85.2 -331.4 131.2 -316.7C177.1 -301.9 226.4 -288.9 257.7 -257.7C289.1 -226.6 302.5 -177.4 317.4 -131.5C332.2 -85.5 348.3 -42.7 364.5 0L0 0Z" fill="%23bdc5f4"></path><path d="M0 -303.7C35.5 -290 71 -276.2 109.3 -263.9C147.6 -251.6 188.7 -240.7 214.8 -214.8C240.9 -188.9 252.1 -147.9 264.5 -109.5C276.8 -71.2 290.3 -35.6 303.8 0L0 0Z" fill="%23a8b5f5"></path><path d="M0 -243C28.4 -232 56.8 -221 87.4 -211.1C118.1 -201.3 150.9 -192.6 171.8 -171.8C192.7 -151.1 201.7 -118.3 211.6 -87.6C221.4 -57 232.2 -28.5 243 0L0 0Z" fill="%2390a6f7"></path><path d="M0 -182.2C21.3 -174 42.6 -165.7 65.6 -158.3C88.6 -150.9 113.2 -144.4 128.9 -128.9C144.5 -113.3 151.3 -88.7 158.7 -65.7C166.1 -42.7 174.2 -21.4 182.3 0L0 0Z" fill="%237697f8"></path><path d="M0 -121.5C14.2 -116 28.4 -110.5 43.7 -105.6C59 -100.6 75.5 -96.3 85.9 -85.9C96.4 -75.5 100.8 -59.1 105.8 -43.8C110.7 -28.5 116.1 -14.2 121.5 0L0 0Z" fill="%235488f9"></path><path d="M0 -60.7C7.1 -58 14.2 -55.2 21.9 -52.8C29.5 -50.3 37.7 -48.1 43 -43C48.2 -37.8 50.4 -29.6 52.9 -21.9C55.4 -14.2 58.1 -7.1 60.8 0L0 0Z" fill="%233c81fa"></path></g></svg>');
}
.borrowed-books-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
.borrowed-books-title{
    margin: auto;
    margin-bottom:10px;
    align-items: center;
    text-align: center;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  z-index: 1;
}

.card {
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: 0.2s;
  position: relative;
}

.card-header {
  background-color: #3578cf;
  color: #fff;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.book-title {
  margin: 0;
  font-size: 18px;
}

.card-body {
  padding: 20px;
  display: flex;
  position: relative;
  padding: 0;
}

.book-image img {
  width: 100%;
  min-height: 100%;
}

.book-details {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.author-list {
  list-style: none;
  margin-bottom: 10px;
}
.card:hover .book-details {
    opacity: 1;
  }
.book-description {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.start-date,
.end-date {
  font-size: 12px;
  color: #888;
}
.date-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .start-date-container,
  .end-date-container {
    display: flex;
    align-items: center;
  }
  
  .date-label {
    font-size: 12px;
    color: #888;
    margin-right: 5px;
  }
  
  .start-date-container {
    margin-right: 10px;
  }
  