.cart-table {
    border-collapse: collapse;
    width: 100%;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-table th {
    background-color: #f2f2f2;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

.update-btn, .remove-btn {
    background-color: #DDA379;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    margin-right:
    5px;
    font-weight: bold;
}

.update-btn, .remove-btn:hover {
    background-color: #B37D5E;
}