.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
}

.input-title {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 98%;
}

.description-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
}

.input-description {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 98%;
    height: 100px;
}

.authors-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
}

.input-authors {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 98%;
}

.thumbnail-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
}

.input-thumbnail {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 98%;
}

.donate-button {
    padding: 8px 18px;
    background-color: #0d0c22;
    border-radius: 5px;
    color: #f3f3f3;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 10vw;
    margin-top: 2vh;
}
.donate-button:hover{
    background-color: #3d3d3d;
    color: #f3f3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}