@import url('https://unpkg.com/css.gg@2.0.0/icons/css/trash.css');

.favorites-slider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 270px;
    margin-bottom: 20px;
    scroll-behavior: smooth;
    margin-top: 30px;
}

.card-content {
    position: relative;
}

.favorites-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
    background-color: #f1c6c6;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.favorites-details div:first-child {
    font-weight: bold;
    white-space:pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.favorites-insertnamehere {
    width: calc(100% / 5);
    display: inline-table;
    vertical-align: top;
    padding: 0 5px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 5px;
}

.favorites-details {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    max-width: 90%;
    margin: 0 auto;
}

.favorites-details div:first-child {
    font-weight: bold;
}

.dlt-btn {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: #f5f5f500;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    z-index: 1;
}

.dlt-btn:hover {
    background-color: #b0bdf5;
}