.navbar {
  overflow: visible; /* Change to "visible" */
  position: sticky;
  padding: 5px;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #0066ff;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.invis-dw {
  pointer-events: none;
}

.invis-dw:hover {
  background-color: transparent;
  color: #000;
  transition: background-color 0.3s ease-in-out;
}

.navbar a.active {
  border-bottom: 3px solid #0066ff;
}

.nav-right {
  float: right;
  display: flex;
  align-items: center;
}

.navbar a.logout-button,
.navbar a.cart-button {
  padding: 10px 12px;
}

.navbar a.logout-button:hover,
.navbar a.cart-button:hover {
  background-color: #0066ff;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  margin-top: 40px;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.dropdown-content a.logout-option {
  color: black;
  padding: 5px 1px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-content a.logout-option:hover {
  background-color: #FF3300;
}

.profile-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
  margin-top: -10px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d-profile-name {
  margin-right: 5px;
}

.dropdown-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
}

.dropdown-content a {
  color: black;
  padding: 5px 1px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #FF3300;
}
