<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library ADMIN</title>
    <link rel="stylesheet" type="text/css" href="/css/admin-hp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/css.gg/icons/all.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="admin-body-side-menu">
    <nav class="admin-side-menu">
        <button id="toggle-menu-button" class="toggle-menu-button"><i class="fas fa-bars" style="font-size: 25px;"></i></button>
        <ul style="margin-top: 60px;">
            <li style="text-align: center; color: aliceblue;"><a class="box-a" th:href="@{/library/profile}"><img th:src="${profilePicture}" class="admin-pfp"></i><p th:text="${username}">username</p></a></li>
            <li><a class="admin-menu-link" th:href="@{/admin/users}">Users list</a></li>
            <li><a class="admin-menu-link" th:href="@{/books/allbooks}">All Donated books</a></li>
        </ul>
    </nav>

    <div class="admin-main-content">
        <a th:href="@{/admin/users}" class="box-a box">
            <i style='font-size:60px;color:orange;' class='fas'>&#xf406;</i>
            <h3>Number of Users</h3>
            <p id="userCount" th:text="${userCount}">0</p>
        </a>
        <a th:href="@{/books/allbooks}" class="box-a box">
            <i style="font-size:60px;color: blue;" class="fa">&#xf02d;</i>
            <h3>Number of Donated Books</h3>
            <p id="donatedBooksCount" th:text="${donatedBooksCount}">0</p>
        </a>
        <div class="box">
            <i style="font-size:60px;color:green;" class="fa">&#xf53a;</i>
            <h3>Purchased</h3>
            <p id = "purchasedBooksCount">20</p>
        </div>
        <div class="box">
            <i style="font-size:60px;color: rgb(196, 231, 112);" class="fa">&#xf303;</i>
            <h3>Waiting for Review</h3>
            <p id="booksWaitingForReviewCount">10</p>
        </div>
        <div class="bigger-chart-container">
            <h1> Breakdown Chart</h1>
            <hr class="custom-line">
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#toggle-menu-button").click(function() {
                $("body").toggleClass("hide-menu");
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            var userCount = parseInt($("#userCount").text());
            var donatedBooksCount = parseInt($("#donatedBooksCount").text());
            var purchased = parseInt($("#purchasedBooksCount").text());
            var waitingForReview = parseInt($("#booksWaitingForReviewCount").text());
            var ctx = document.getElementById('myChart').getContext('2d');

            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Users', 'Donated Books', 'Purchased', 'Waiting for Review'],
                datasets: [{
                    label: 'Chart',
                    data: [userCount, donatedBooksCount, purchased, waitingForReview],
                    fill: false,
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
    </script>
    
</body>
</html>
