<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/donate-books.css">

<head>
    <meta charset="UTF-8">
    <title>Add a Donate</title>
</head>

<body>
    <h1 class="header-title">Add a Donated book</h1>
    <form th:action="@{/admin/added}" th:object="${book}" method="post" class="form-container">
        <label for="title" class="title-label">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required class="input-title"><br>

        <label for="description" class="description-label">Description:</label>
        <textarea id="description" name="description" th:field="*{description}" required
            class="input-description"></textarea><br>

        <label for="authors" class="authors-label">Authors:</label>
        <input type="text" id="authors" name="authors" th:field="*{authors}" required class="input-authors"><br>

        <label for="thumbnailUrl" class="thumbnail-label">Thumbnail URL:</label>
        <input type="text" id="thumbnailUrl" name="thumbnailUrl" th:field="*{thumbnailUrl}" required
            class="input-thumbnail"><br>

        <input type="hidden" id="availability" name="availability" th:field="*{availability}" value="true" />

        <button type="submit" class="donate-button">Add book</button>
    </form>
</body>

</html>