<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://fonts.cdnfonts.com/css/euclid-circular-b" rel="stylesheet">              
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/book-details.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<div class="everything-details">
<body class="background-details" >
    <h1 class="ti-name">About the book</h1>
    <div class="book-details">
        <img th:src="${book.thumbnailUrl}" th:alt="${book.title}" class="book-image-details" />
        <h2 name="title" id="title" th:text="${book.title}" class="book-title-details"></h2>
        <p name="authors" id="authors" class="p3p book-author-details" th:text="${book.authors}"></p>
        <div class="details-box">
        <p class="p3p-details" th:text="' Rating: ' + ${book.averageRating}"></p>
        <p class="p3p-details" th:text="'Pages : ' + ${book.pageCount}"></p>
        </div>
        <p class="p3p-details description-details" th:text="${book.description}"></p>
        <p class="p3p-details" th:text="'Published Date: ' + ${book.publishedDate}"></p>
        <input type="hidden" id="book-id" name="book-id" th:value="${book.id}" />
        <button type="button" class="favorite-btn">Favorite</button>
        <a class="details-button" th:href="@{/books/mdetails(bookName=${book.title})}"> Details </a>  <!-- goes to bookmDetails.html -->
    </div>
</body>
</div>
</html>

<script>
    $(document).ready(function() {
      $(".favorite-btn").click(function() {
        var bookId = $(this).siblings("#book-id").val();
        var bookTitle = $(this).siblings("#title").text();
        var bookAuthors = $(this).siblings("#authors").text();
        var bookImage = $(this).siblings(".book-image").attr("src");
        $.ajax({
          type: "POST",
          url: "/favorites",
          data: {
            id: bookId,
            name: bookTitle,
            authors: bookAuthors,
            image: bookImage
          },
          success: function(response) {
            alert("Book added to favorites!");
          },
          error: function(xhr) {
            alert("Error adding book to favorites.");
          }
        });
      });
    });
  </script>