<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Confirm Borrow</title>
    <link rel="stylesheet" type="text/css" href="/css/confirm-borrow.css">
</head>

<body>
    <div class="confirm-borrow-box">
        <h1 class="main-cbtitle">Confirm Borrow</h1>
        <div class="book-details">
            <img class="book-image" th:src="${book.thumbnailUrl}" alt="Thumbnail">
            <h3 class="book-title" th:text="${book.title}"></h3>
            <p class="book-author" th:text="${book.authors}"></p>
            <p class="book-description" th:text="${book.description}"></p>
        </div>

        <div class="form-section">
            <label for="returnDate">Borrow-Date:</label> 
            <input type="date" id="date" name="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly>
        </div>

        <form class="form-section" th:action="@{/borrow/add}" method="post">
            <label for="returnDate">Return Date:</label>
            <input class="return-date-input" type="date" id="returnDate" name="endDate" th:value="${endDate}" required>
            <input type="hidden" name="bookId" th:value="${book.id}" />
            <button class="borrow-button" type="submit">Borrow</button>
        </form>
    </div>
</body>

</html>