<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Confirm Borrow</title>
    <link rel="stylesheet" type="text/css" href="/css/confirm-borrow.css">
</head>

<body>
    <div class="confirm-borrow-box">
        <h1 class="main-cbtitle">Confirm Borrow</h1>
        <div class="book-details">
            image: <img class="book-image" th:src="${book.thumbnailUrl}" alt="Thumbnail">
            Title: <h3 class="book-title" th:text="${book.title}"></h3>
            Author: <p class="book-author" th:text="${book.authors}"></p>
            Description: <p class="book-description" th:text="${book.description}"></p>
            Borrow-Date: <input type="date" id="date" name="date"
                th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly>
            <label for="returnDate">Return Date:</label>
            <input type="date" id="returnDate" name="endDate">

        </div>

        <form th:action="@{/borrow/add}" method="post">
           
            <input type="hidden" name="bookId" th:value="${book.id}"/>
   
            <input type="hidden" name="endDate" th:value="test" />
            <button type="submit">Borrow</button>
        </form>
    </div>
</body>

</html>