<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Confirm Borrow</title>
    <link rel="stylesheet" type="text/css" href="/css/borrow.css">
    <script>
        window.onload = function() {
            var today = new Date();
            var day = today.getDate();
            var month = today.getMonth() + 1;
            var year = today.getFullYear();

            if (day < 10) {
                day = '0' + day;
            }
            if (month < 10) {
                month = '0' + month;
            }

            var formattedDate = year + '-' + month + '-' + day;
            document.getElementById("date").value = formattedDate;
            document.getElementById("returnDate").setAttribute("min", formattedDate);
        };
    </script>
</head>

<body>
    <div class="confirm-borrow-box">
        <h1 class="main-cbtitle">Confirm Borrow</h1>
        <div class="book-details">
            <img class="book-image" th:src="${book.thumbnailUrl}" alt="Thumbnail" onerror="this.src='https://i.pinimg.com/736x/55/b1/b5/55b1b5dbf1488a572f8aa37b0388d321--book-cover-design-template-design-templates.jpg'">
            <h3 class="book-title" th:text="${book.title}"></h3>
            <p class="book-author" th:text="${book.authors}"></p>
            <p class="book-description" th:text="${book.description}"></p>
        </div>

        <div class="form-section">
            <label for="returnDate">Borrow-Date:</label>
            <input type="date" id="date" name="date" readonly>
        </div>

        <form class="form-section" th:action="@{/borrow/add}" method="post">
            <label for="returnDate">Return Date:</label>
            <input class="return-date-input" type="date" id="returnDate" name="endDate" required>
            <input type="hidden" name="bookId" th:value="${book.id}" />
            <button class="borrow-button" type="submit">Borrow</button>
        </form>
    </div>
</body>

</html>
