<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Donate</title>
</head>
<body>
  <h1>Donate book</h1>
  <form th:action="@{/books/add}" th:object="${book}" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:field="*{title}" required><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" th:field="*{description}" required></textarea><br>

    <label for="authors">Authors:</label>
    <input type="text" id="authors" name="authors" th:field="*{authors}" required><br>

    <label for="thumbnailUrl">Thumbnail URL:</label>
    <input type="text" id="thumbnailUrl" name="thumbnailUrl" th:field="*{thumbnailUrl}" required><br>

    <input type="hidden" id="availability" name="availability" th:field="*{availability}" value="true" />

    <button type="submit">Donate book</button>
  </form>
</body>
</html>
