<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Donated Books List</title>
    <link rel="stylesheet" type="text/css" href="/css/donated-books.css">
</head>

<body>
    <div class="donated-box">
        <h1 class="main-dtitle">Donated Books List</h1>
        <table class="donated-table">
            <thead>
                <tr>
                    <th class="donated-category">Book</th>
                    <th class="donated-category">Availability</th>
                    <th class="donated-category">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}">
                    <td>
                        <div class="book-info">
                            <img class="book-image" th:src="${book.thumbnailUrl}" alt="Thumbnail" onerror="this.src='https://i.pinimg.com/736x/55/b1/b5/55b1b5dbf1488a572f8aa37b0388d321--book-cover-design-template-design-templates.jpg'">
                            <div class="book-details">
                                <h3 class="book-title" th:text="${book.title}"></h3>
                                <p class="book-author" th:text="${book.authors}"></p>
                            </div>
                        </div>
                    </td>
                    <td th:text="${book.availability == true ? 'Available for borrowing' : 'Not available'}"></td>
                    <td th:unless="${book.user.id == user.id}">
                        <form th:action="@{/library/borrow}" method="post">
                            <input type="hidden" name="bookId" th:value="${book.id}" />
                            <button type="submit">Borrow</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>
