<footer th:fragment="footer">
<div class="awesome-footer">
    <div class="footer-links">
      <div class="footer-section">
        <h4>Explore</h4>
        <ul>
          <li><a href="/library/homepage">Home</a></li>
          <li><a href="/library/profile">Profile</a></li>
          <li><a href="/library/search">Search</a></li>
          <li><a href="/library/donate">Donate books</a></li>
          <li><a href="/library/donatedbooks">Borrow books</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Company</h4>
        <ul>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#faq">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Legal</h4>
        <ul>
          <li><a href="#terms">Terms of Service</a></li>
          <li><a href="#privacy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-info">
      <p>&copy; 2023 Elibrary. All rights reserved.</p>
      <p><a href="#privacy">Privacy Policy</a> | <a href="#terms">Terms of Service</a></p>
    </div>
</div>
</footer>