<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Library</title>
	<link rel="stylesheet" type="text/css" href="/css/Style1.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		.book-box {
			cursor: pointer;
		}

		.book-box:hover {
			background-color: #f5f5f5;
		}
	</style>
</head>

<body>
	<div class="navbar">
		<a href="#" class="active">Home</a>
		<a href="#">Books</a>
		<a href="#">Authors</a>
		<a href="#">Categories</a>
		<a href="#">About</a>
		<a href="#">Contact</a>
		<form action="#" th:action="@{/books/search}" method="get" class="input-form">
			<input class="input-box-search" type="text" id="query" name="query" required th:placeholder="'Book Name'" />
			<button type="submit" class="search-button"><i style="font-size:24px;" class="fa">&#xf002;</i></button>
		</form>
	</div>
<div class="page-content">
		<section class="for-you-section">
			<h2 class="for-you-title">For you</h2>
			<div class="book-container">
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 1">
					<div class="book-details">
						<h3 class="book-title">Book 1</h3>
						<p class="book-author">Author 1</p>
						<div class="book-info">
							<span class="book-pages">200 Pages</span>
							<span class="book-reviews">15 Reviews</span>
							<span class="book-rating">4.5/5 Rating</span>
						</div>
					</div>
				</a>
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<div class="book-details">
						<h3 class="book-title">Book 2</h3>
						<p class="book-author">Author 2</p>
						<div class="book-info">
							<span class="book-pages">300 Pages</span>
							<span class="book-reviews">20 Reviews</span>
							<span class="book-rating">4.8/5 Rating</span>
						</div>
					</div>
				</a>
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<div class="book-details">
						<h3 class="book-title">Book 2</h3>
						<p class="book-author">Author 2</p>
						<div class="book-info">
							<span class="book-pages">300 Pages</span>
							<span class="book-reviews">20 Reviews</span>
							<span class="book-rating">4.8/5 Rating</span>
						</div>
					</div>
				</a>
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<div class="book-details">
						<h3 class="book-title">Book 2</h3>
						<p class="book-author">Author 2</p>
						<div class="book-info">
							<span class="book-pages">300 Pages</span>
							<span class="book-reviews">20 Reviews</span>
							<span class="book-rating">4.8/5 Rating</span>
						</div>
					</div>
				</a>
			</div>
		</section>

		<section class="book-section">
			<h2 class="book-section-title">Other Books</h2>
			<div class="book-row">
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 1">
					<h3 class="book-name">Book 1</h3>
					<p class="book-author">Author 1</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<!-- Add more book items here -->
			</div>
		</section>
		<div class="blue-section">
			<div class="blue-book-container">
			  <img class="blue-book-image" src="https://universe.byu.edu/wp-content/uploads/2015/01/HP4cover.jpg" alt="Book 3">
			</div>
			<div class="blue-book-container">
			  <img class="blue-book-image" src="https://m.media-amazon.com/images/I/81THMAxo+pL._AC_UF1000,1000_QL80_.jpg" alt="Book 2">
			</div>
			<div class="blue-book-container">
			  <img class="blue-book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="Book 1">
			</div>
			<div class="blue-book-container">
				<img class="blue-book-image" src="https://m.media-amazon.com/images/I/81THMAxo+pL._AC_UF1000,1000_QL80_.jpg" alt="Book 2">
			  </div>
			  <div class="blue-book-container">
				<img class="blue-book-image" src="https://universe.byu.edu/wp-content/uploads/2015/01/HP4cover.jpg" alt="Book 3">
			  </div>
			<div class="borrow-now">
			  <h1>Borrow Now</h1>
			  <p>You can borrow your books for free!</p>
			  <small>You pick the return date</small>
			</div>
		  </div>
		  <div class="bs-section">
			<h2 class="bs-title">Best Seller</h2>
			<div class="bs-book">
			  <img class="bs-cover" src="https://universe.byu.edu/wp-content/uploads/2015/01/HP4cover.jpg" alt="Book Cover">
			  <div class="bs-details">
				<h3 class="bs-book-title">Book Title</h3>
				<p class="bs-author">Author's Name</p>
				<p class="bs-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</p>
			  </div>
			</div>
		  </div>		  
		<section class="book-section">
			<h2 class="book-section-title">Best selling</h2>
			<div class="book-row">
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 1">
					<h3 class="book-name">Book 1</h3>
					<p class="book-author">Author 1</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<!-- Add more book items here -->
			</div>
		</section>
		<div class="footer">
			<h2>Footer</h2>
		</div>
</body>
</div>
<script>var button_s = document.querySelectorAll(".MenuBox>ul>li");
	var svg_s = document.querySelectorAll(".MenuBox>ul>li>svg");
	var HoverBox_s = document.getElementsByClassName("HoverBox")[0];
	
	function clearTag(id) {
		for (let item of svg_s) {
			if (item == svg_s[id]) {
				continue;
			}
			item.style.color = "#6e6c6c";
		}
	}
	
	function Action_s(Index, Top) {
		HoverBox_s.style.top = Top;
		HoverBox_s.style.animation = `Effect_${Index} 250ms 1`;
		svg_s[Index].style.color = "white"
		clearTag(Index)
	}
	button_s[0].addEventListener("mouseover", function() {
		Action_s(0, "20px");
	});
	
	button_s[1].addEventListener("mouseover", function() {
		Action_s(1, "87px");
	});
	
	button_s[2].addEventListener("mouseover", function() {
		Action_s(2, "154px");
	});
	
	button_s[3].addEventListener("mouseover", function() {
		Action_s(3, "221px");
	});
	
	button_s[4].addEventListener("mouseover", function() {
		Action_s(4, "288px");
	});
	
	button_s[5].addEventListener("mouseover", function() {
		Action_s(5, "355px");
	
	});</script>
</html>