<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Library</title>
	<link rel="stylesheet" type="text/css" href="/css/Style1.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		.book-box {
			cursor: pointer;
		}

		.book-box:hover {
			background-color: #f5f5f5;
		}
	</style>
</head>

<body>
	<div class="Contact">
        <div class="MenuBox">
            <div class="TopBox"></div>
            <div class="HoverBox"></div>
            <ul>
                <li class="Active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline><a th:href="@{/library/donate}"></a></svg>
                    <span>Home</span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                    <span>Chat</span>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                    <span>Customers</span>
                </li>
            </ul>
        </div>
<div class="page-content">
	<form action="#" th:action="@{/books/search}" method="get" class="input-form">
		<input class="input-box-search" type="text" id="query" name="query" required th:placeholder="'Book Name'" />
		<button type="submit" class="search-button"><i style="font-size:24px;" class="fa">&#xf002;</i></button>
	</form>
		<section class="for-you-section">
			<h2 class="for-you-title">For you</h2>
			<div class="book-container">
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 1">
					<div class="book-details">
						<h3 class="book-title">Book 1</h3>
						<p class="book-author">Author 1</p>
						<div class="book-info">
							<span class="book-pages">200 Pages</span>
							<span class="book-reviews">15 Reviews</span>
							<span class="book-rating">4.5/5 Rating</span>
						</div>
					</div>
				</a>
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<div class="book-details">
						<h3 class="book-title">Book 2</h3>
						<p class="book-author">Author 2</p>
						<div class="book-info">
							<span class="book-pages">300 Pages</span>
							<span class="book-reviews">20 Reviews</span>
							<span class="book-rating">4.8/5 Rating</span>
						</div>
					</div>
				</a>
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<div class="book-details">
						<h3 class="book-title">Book 2</h3>
						<p class="book-author">Author 2</p>
						<div class="book-info">
							<span class="book-pages">300 Pages</span>
							<span class="book-reviews">20 Reviews</span>
							<span class="book-rating">4.8/5 Rating</span>
						</div>
					</div>
				</a>
				<a href="#" class="book-box">
					<img class="book-image" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<div class="book-details">
						<h3 class="book-title">Book 2</h3>
						<p class="book-author">Author 2</p>
						<div class="book-info">
							<span class="book-pages">300 Pages</span>
							<span class="book-reviews">20 Reviews</span>
							<span class="book-rating">4.8/5 Rating</span>
						</div>
					</div>
				</a>
			</div>
		</section>

		<section class="book-section">
			<h2 class="book-section-title">Other Books</h2>
			<div class="book-row">
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 1">
					<h3 class="book-name">Book 1</h3>
					<p class="book-author">Author 1</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<a href="#" class="book-item">
					<img class="book-cover" src="https://edit.org/images/cat/book-covers-big-2019101610.jpg"
						alt="Book 2">
					<h3 class="book-name">Book 2</h3>
					<p class="book-author">Author 2</p>
				</a>
				<!-- Add more book items here -->
			</div>
		</section>

		<div class="footer">
			<h2>Footer</h2>
		</div>
</body>
</div>
<script>var button_s = document.querySelectorAll(".MenuBox>ul>li");
	var svg_s = document.querySelectorAll(".MenuBox>ul>li>svg");
	var HoverBox_s = document.getElementsByClassName("HoverBox")[0];
	
	function clearTag(id) {
		for (let item of svg_s) {
			if (item == svg_s[id]) {
				continue;
			}
			item.style.color = "#6e6c6c";
		}
	}
	
	function Action_s(Index, Top) {
		HoverBox_s.style.top = Top;
		HoverBox_s.style.animation = `Effect_${Index} 250ms 1`;
		svg_s[Index].style.color = "white"
		clearTag(Index)
	}
	button_s[0].addEventListener("mouseover", function() {
		Action_s(0, "20px");
	});
	
	button_s[1].addEventListener("mouseover", function() {
		Action_s(1, "87px");
	});
	
	button_s[2].addEventListener("mouseover", function() {
		Action_s(2, "154px");
	});
	
	button_s[3].addEventListener("mouseover", function() {
		Action_s(3, "221px");
	});
	
	button_s[4].addEventListener("mouseover", function() {
		Action_s(4, "288px");
	});
	
	button_s[5].addEventListener("mouseover", function() {
		Action_s(5, "355px");
	
	});</script>
</html>