<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body style="background-color: #DDA379;">
    <div th:if="${param.error}">
        <p style="
			color: #D8000C;
			background-color: #FFBABA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
            border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;">Invalid email or password.</p>
    </div>
    <br><br><br><br>
    <div style="width: 360px;height: 370px; margin: auto;background-color: white;border-radius: 5px; "><br>
        <h1 style="text-align: center;padding-top: 15px;color:#DDA379 ;">Login<br><br>
            <form th:action="@{/library/check-user}" th:object="${user}" method="POST">
                <div><input type="email" th:field="*{email}" name="email" placeholder="Enter email"
                        style="width : 70%;padding: 7px;border-radius: 6px;border: 1px solid gray;" /></div><br>
                <div><input type="password" th:field="*{password}" name="password" placeholder="Enter password"
                        style="width : 70%;padding: 7px;border-radius: 6px;border: 1px solid gray;" /> </div><br>
                <button type="submit" style="width : 40%;height:27px;
               background-color: #DDA379; border-radius: 6px;border: 1px #DDA379;">Login</button>
            </form>
        </h1>
        <h6><a th:href="@{/library/reset-pass}" style="color:#DDA379;text-align: left; padding-left:200px;"> Forgot
                your
                password? </a><br>
            <a th:href="@{/library}" style="color:#DDA379;text-align: left; padding-left:200px;"> Back to Sign Up. </a>
        </h6>



    </div>
</body>

</html>