<html  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="Utf-8">
        
        <link rel="stylesheet" href="Visa.css">
    </head>
    <div class="container">
        <form action="">
          <div class="row">
              
    <div class="col">
        <h3 class="title">Card Confirmation </h3>
        <div class="inputBox">
            <span> <strong>cards accepted :</strong>  </span>
            <img  src="card_img.png" alt="">
        </div>
        <div class="inputBox">
            <span> name on card : </span>
            <input type = "text" placeholder="mr.john doe" required>
        </div>
    
        <div class="inputBox">
            <span> credit card number : </span>
            <input type = "number" placeholder="1111-2222-3333-4444 "required>
        </div>
        <div class="inputBox">
            <span> exp month: </span>
            <input type = "text" placeholder="december"required>
        </div>
        <div class = "flex ">
        <div class="inputBox">
            <span> exp year  : </span>
            <input type = "text" placeholder="2018"required>
        </div>
        <div class="inputBox">
            <span> cvv: </span>
            <input type = "text" placeholder="1234"required>
        </div>
        </div>
    </div>
</div>

<input type="submit" value="Confirm" class="submit-btn">
</form>
            </div>
        </div>
    </div>
    </html>
