<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/profile.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/user-navbar.css">

<head>
    <title>Profile</title>
</head>

<body>
    <div th:include="user-navbar :: user-navbar" th:with="activePage='profile'" style="margin-bottom: 10px;"></div>
    <h1 th:if="${isList}">User List</h1>
    <table th:if="${isList}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Profile Picture</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td><img th:src="${user.profilePic}" onerror="this.src='https://i.pinimg.com/736x/55/b1/b5/55b1b5dbf1488a572f8aa37b0388d321--book-cover-design-template-design-templates.jpg'" /></td>
                <td th:text="${user.password}"></td>
            </tr>
        </tbody>
    </table>
    <div th:unless="${isList}" class="profile-container">
        <div class="background-gradient">
            <img class="profilePic" th:src="${user.profilePic}" />
        </div>
        <div class="profile-info">
            <div class="profile-details">
                <div class="profile-name-container">
                    <p class="profile-name" th:text="${user.username}"></p>
                    <form method="get" th:action="@{/library/edit-profile}">
                        <button type="submit" class="edit-button">Edit Profile</button>
                    </form>
                    <div class="button-container">
                        <form method="get" th:action="@{/library/donated}">
                            <button type="submit" class="donated-button">Donated</button>
                        </form>
                        <form method="get" th:action="@{/library/borrowed}">
                            <button type="submit" class="borrow-button">Borrowed</button>
                        </form>
                    </div>
                </div>
                <p class="profile-email" th:text="${user.email}"></p>
            </div>
            
        </div>
    </div>

    <div id="favorite-list-container" style="display: none;"></div>

    <script>
        //showing favorites.html inside this profile.html
        $(document).ready(function () {
            $.get("/favorites/list", function (data) {
                $("#favorite-list-container").html(data);
                $("#favorite-list-container").show();
            });
        });
    </script>
</body>

</html>