<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Books</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1 class="h1e">Discover</h1>
    <form action="#" th:action="@{/books/search}" method="get">
        <input type="text" id="query" name="query" required th:placeholder="'Book Name'"/>
        <button type="submit">Search</button>
    </form>
    <div th:if="${not #lists.isEmpty(books)}">
        <h2>Results</h2>
        <div class="row-list">
            <ul>
                <li th:each="book : ${books}">
                    <img th:src="${book.ThumbnailUrl}" th:alt="${book.title}" class="book-image" />
                    <h3 th:text="${book.title}"></h3>
                    <p class="p3p" th:text="${book.authors}"></p>
                    <input type="hidden" id="book-id" name="book-id" th:value="${book.id}" />
                    <button type="button" class="favorite-btn">Favorite</button>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

<script>
  $(document).ready(function() {
    $(".favorite-btn").click(function() {
      var bookId = $(this).siblings("#book-id").val();
      var bookTitle = $(this).siblings("h3").text();
      var bookAuthors = $(this).siblings(".p3p").text();
      var bookImage = $(this).siblings(".book-image").attr("src");
      $.ajax({
        type: "POST",
        url: "/favorites",
        data: {
          id: bookId,
          name: bookTitle,
          authors: bookAuthors,
          image: bookImage
        },
        success: function(response) {
          alert("Book added to favorites!");
        },
        error: function(xhr) {
          alert("Error adding book to favorites.");
        }
      });
    });
  });
</script>

    