<nav th:fragment="user-navbar">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <div class="navbar">
      <a th:href="@{/library/homepage}" th:class="${activePage == 'home' ? 'active' : ''}">Home</a>
      <a th:href="@{/library/search}" th:class="${activePage == 'search' ? 'active' : ''}">Search</a>
      <a th:href="@{/library/donate}" th:class="${activePage == 'donate' ? 'active' : ''}">Donate</a>
      <a th:href="@{/library/donatedbooks}" th:class="${activePage == 'borrow' ? 'active' : ''}">Borrow</a>
      <div class="dropdown">
        <a th:href="@{/library/profile}" th:class="${activePage == 'profile' ? 'active' : ''}">
          Profile <i class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a th:href="@{/library/logout}" class="logout-option">Logout</a>
        </div>
      </div>      <div class="dropdown invis-dw">
        <a href="#" class="invis-profile-button" th:class="${activePage == 'profile' ? 'active' : ''}">
            <div class="profile-image invis-dw">
            </div>
        </a>
      </div>
      <div class="nav-right">
        <a th:href="@{/library/cart}" class="cart-button" title="Cart" th:class="${activePage == '#' ? 'active' : ''}">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
    </div>
  </nav>
  